.container {
    display: flex;
    justify-content: space-around;
}

.blue-background {
    background-color: blue;
}

.red-background {
    background-color: red;
}

.square {
    width: 200px;
    height: 200px;
}

.blue-color {
    background-color: blue;
}

.click-me-button {
    width: 100px;
    height: 60px;
    background-color: aquamarine;
    border: none;
    border-radius: 30px;
}

.click-me-button:hover {
    cursor: pointer;
    background-color: #43d0a1;
    color: white;
}